<template>
  <div class="card">
    <div class="card-header">
      <h4>Donate to the UBports Foundation</h4>
    </div>
    <div class="card-body">
      <div class="row center donation-options">

        <div class="col-xs">
          <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=C86LHWK8M2XCC&source=url" target="_blank" rel="noreferrer noopener" class="donate-link">
            <font-awesome :icon="['fab', 'paypal']" style="font-size: 5em;" />
          </a>
        </div>

        <div class="col-xs donate-link" @click='bitcoin'>
          <font-awesome :icon="['fab', 'bitcoin']" style="font-size: 5em;" />
        </div>

        <div class="col-xs">
          <a href="https://www.liberapay.com/ubports" target="_blank" rel="noreferrer noopener" class="donate-link">
            <g-image
              src="/liberapay.svg"
              style="width: 100%; height: 5em;"
              alt="Donate-with-Liberapay Icon"
              onmouseover="this.src='/liberapay-hover.svg'"
              onmouseout="this.src='/liberapay.svg'"
            />
          </a>
        </div>

        <div class="col-xs">
          <a href="https://www.patreon.com/ubports" target="_blank" rel="noreferrer noopener" class="donate-link">
            <font-awesome :icon="['fab', 'patreon']" style="font-size: 5em;" />
          </a>
        </div>

        <div class="col-xs donate-link" @click="bank">
          <b-icon-credit-card width="5em" height="5em" />
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Donate",
  methods: {
    bitcoin() {
      this.$modal.show("bitcoin");
    },
    bank() {
      this.$modal.show("bank");
    }
  }
};
</script>